# VCS
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist
build
.cache
.vite
coverage

# Local env & secrets
.env
.env.*
!/.env.example
secrets*

# OS/editor
.DS_Store
.idea
.vscode
tmp
temp

